<div class="card">
 

 <div class="row my-2 p-4">

     <div class="col-12">

<form class="form-group" action="/api/product/search">
  <label for=""></label>
  <input type="text"
    class="form-control" name="keyword" id="proname" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Tìm kiếm sản phẩm</small>
</form>

     </div>
 </div>


    <div class="card-body">
        <h4 class="card-title">Title</h4>

        <div class="row">

        
        {{#each products }}
            <div class="col-4">

                <div class="card" style="width: 18rem;">
<a href="/api/product/{{this.proId}}">
  <img class="card-img-top" src="{{this.avatarUrl}}" alt="Card image cap">

</a>
  <div class="card-body">
    <h5 class="card-title">{{this.proName}}</h5>
    <p class="card-text">Price: {{this.price}}</p>
    <p class="card-text">Category: {{this.category}}</p>

    <input type="text" class="d-none pro_ids" name="pro_id"  value="{{this.proId}}" >
    <button class="btn btn-primary btnAddToCart"  value="{{this.proId}}" >Add to cart</button>
  </div>
</div>
            </div>
        {{/each}}
        </div>
    </div>

</div>

{{#section 'js'}}
<script>
    const btnAddToCart=$(".btnAddToCart");

    for(let i=0;i<btnAddToCart.length;++i){
        btnAddToCart[i].onclick=function(e){
      const data={
            user_id:"user_10",
            pro_id:btnAddToCart[i].value
        }

    console.log(data);
        $.ajax({
            url:"/api/cart",
            method:"post",
            data,
            error:er=>{
                console.log(er);
            },
            success:ret=>{
                console.log(ret);
            
                alert("Add success!")
            }
        })
        }
  
    }


</script>

<script>
const proname=$("#proname");
proname[0].onkeypress=e=>{
    if(+.which===13){
      
    }
}
</script>
{{/section}}